/*Website Style*/
* {
  font-size: 100%;

}

body {
  background-color: grey;
  background-image: url(pictures/pow-star.png);
  background-repeat: repeat;
  color: darkblue;
  font-family:'Lato',Arial, sans-serif;
  font-size 14px;

}

h1 {color: black;
  font-size: 16px;
  text-align: center;
}

H2 {color: blue;
  font-size: 20px;
}
h3{
  font-size: 30px;
}
h1,h2,h3 {
  font-weight: 800;
  font-style:  'dancingscript',cursive;
  margin-bottom:
}

p {
  margin: 15px 0;
  line-height: 2;
}

ul, ol{
  margin: 15px 0;
}


header,
section,
footer{
  padding: 30px;
}

header{

}

section{
  border: 1px solid gainsboro;
  background-color:
  margin:
  padding:
}

img{
  height: 300px;
}

.title {
  font-size: 38px;
  text-decoration: ;
}
Header h1 {
  text-align: center;
  font-style: 'Dancing script';
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}
.banner{
  height: 350px;
  background-image: url(pictures/Polar-bears-ice-floe-Norway.jpg);
  background-size: cover;
  background-position: center;
}
.float-image {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.column{
  width: 50%;
  float: left;
}
.column-1{
  width: 25%;
}
.column-2{
  width: 60%;
  font-size: 20px;
}

.bear-pic {
  width: 95%;
}

footer {
  clear: both;
}
